.el-submenu__title span{
    font-size: 16px !important;
}
//选中的二级菜单样式
.el-submenu .el-menu-item{
    padding-left:50px !important;
    font-size: 14px !important;
        &.is-active{
        background-color: $Menu_two !important;
    }
}
//选中的一级菜单样式
li.el-submenu{
    &.is-active.is-opened{
        .el-submenu__title{
              background-color: $Menu_one !important;
        }
      
    }
}

//搜索状态下修改一级菜单选中背景色
.close{
   .el-submenu {
        &.is-opened{//关闭状态下所有菜单中被选中的菜单
            .el-submenu__title{
                background-color: $Menu_one !important;
            }
        }
   }
}


//搜索状态下修改二级菜单选中背景色
.el-menu--vertical{ 
    margin:-5px 0 0 -5px;
    //选中二级背景色
    .el-menu-item:hover{
        background-color:  #be6d6d !important;
    }
    .el-menu-item{
        line-height: 55px;
    }
    .el-menu{
       
        background-color: rgb(201, 209, 203) !important;
    }
}

//移除侧边nav 的竖线
.el-menu{
    border-right: none !important;
}

//修改label颜色
label,.el-input__inner{
    color:#37495d;
}

//修改表格样式
div.el-table{
    th,td{
        text-align: center;
        color:#37495d;
    }
    th{
        font-weight: bold;
        color:#37495d;
    }
    td{
        font-size: 14px;
    }
}

//控制新增弹框宽度
.el-dialog {
    width:580px;
}
//控制新增按钮居中
.dialog-footer{
    text-align: center;
}

.el-dialog__body{
    padding:30px 30px 20px 20px;    
}


.el-select-dropdown__item.selected{
    color:#5f6266
}