//重置浏览器的默认样式
@import "./reset.scss";

//config   css样式  引入全局默认样式
@import "./config.scss";

//修改element的样式文件
@import "./element.scss";

//css主题色
@import "./theme.scss";

// 常见的样式
.pull_right{float:right}
.pull_left{float:left}
.space-20{margin-top: 20px;}

//定义动画函数
@mixin webkit($type,$value){
    -webkit-#{$type}:$value;//chrome
    -moz-#{$type}:$value;//firedox
    -o-#{$type}:$value;//opera
    -ms-#{$type}:$value;//Ie
}

//定义label和表单元素之间的定义
@mixin labelDom($line-height,$align,$width,$font-size){
    label{
        float: left;
        line-height: $line-height + px;
        text-align: $align;
        width: $width + px;
        font-size:$font-size + px;
    }
    .warp_content{
        margin-left:$width + px;
    }
}


